* {
      box-sizing: border-box;
}

html {
      margin: 0;
      padding: 0;
      width: 100%;
      height: 100vh;
}

a {
  text-decoration: none;
}

body {
      margin: 0;
      padding: 0;
      width: 100%;
      height: 100vh;
      font-family: Poppins;
      font-weight: 400;
      background: #a76e6e
      background-position: center;
      background-size: cover;
}

nav {
      padding: 8px;
      margin: 30px;
}

.logo {
      float: left;
      padding: 8px;
      margin-left: -290px;
      margin-top: -20px;
      font-family: 'Oswald', sans-serif;
}

.logo a {
      color: #e4d5d5;
      text-transform: uppercase;
      font-weight: 700;
      font-size: 40px;
      letter-spacing: 0px;
      text-decoration: none;
      -webkit-text-stroke-width: 0.0px;
      -webkit-text-stroke-color: black;
}

nav ul {
      float: right;
}

nav ul li {
      display: inline-block;
      float: left;
      font-family: 'Roboto', sans-serif;
}

nav ul li:not(:first-child) {
      margin-left: 48px;
}

nav ul li:last-child {
      margin-right: 24px;
}

nav ul li a {
      display: inline-block;
      outline: none;
      color: #e4d5d5;
      text-transform: uppercase;
      text-decoration: none;
      font-size: 24px;
      letter-spacing: 1.2px;
      font-weight: 600;
}

@media screen and (max-width: 864px) {
      .logo {
            padding: 0;
      }

      .nav-wrapper {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: -1;
            background: #fff;
            opacity: 0;
            transition: all 0.2s ease;
      }

      .nav-wrapper ul {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            width: 100%;
      }

      .nav-wrapper ul li {
            display: block;
            float: none;
            width: 100%;
            text-align: right;
            margin-bottom: 10px;
      }

      .nav-wrapper ul li:nth-child(1) a {
            transition-delay: 0.2s;
      }

      .nav-wrapper ul li:nth-child(2) a {
            transition-delay: 0.3s;
      }

      .nav-wrapper ul li:nth-child(3) a {
            transition-delay: 0.4s;
      }

      .nav-wrapper ul li:nth-child(4) a {
            transition-delay: 0.5s;
      }

      .nav-wrapper ul li:not(:first-child) {
            margin-left: 0;
      }

      .nav-wrapper ul li a {
            padding: 10px 24px;
            opacity: 0;
            color: #e4d5d5;
            font-size: 14px;
            font-weight: 600;
            letter-spacing: 1.2px;
            transform: translateX(-20px);
            transition: all 0.2s ease;
      }

      .nav-btn {
            position: fixed;
            right: 10px;
            top: 10px;
            display: block;
            width: 48px;
            height: 48px;
            cursor: pointer;
            z-index: 9999;
            border-radius: 50%;
      }

      .nav-btn i {
            display: block;
            width: 20px;
            height: 2px;
            background: #e4d5d5;
            border-radius: 2px;
            margin-left: 14px;
      }

      .nav-btn i:nth-child(1) {
            margin-top: 16px;
      }

      .nav-btn i:nth-child(2) {
            margin-top: 4px;
            opacity: 1;
      }

      .nav-btn i:nth-child(3) {
            margin-top: 4px;
      }
      .table{
            float: none;
            margin-left: -100px;
            width: 200px;
      }

      .main{
            float: none;
            margin-left: 140px;
      }
      .slidecontainer{
            width: 200px;
      }
      .slider{
            width: 200px;
      }
}

#nav:checked + .nav-btn {
      transform: rotate(45deg);
}

#nav:checked + .nav-btn i {
      background: #e4d5d5;
      transition: transform 0.2s ease;
}

#nav:checked + .nav-btn i:nth-child(1) {
      transform: translateY(6px) rotate(180deg);
}

#nav:checked + .nav-btn i:nth-child(2) {
      opacity: 0;
}

#nav:checked + .nav-btn i:nth-child(3) {
      transform: translateY(-6px) rotate(90deg);
}

#nav:checked ~ .nav-wrapper {
      z-index: 9990;
      opacity: 1;
}

#nav:checked ~ .nav-wrapper ul li a {
      opacity: 1;
      transform: translateX(0);
}

.hidden {
      display: none;
}

h1 {
      text-transform: uppercase;
      font-family: 'Oswald', sans-serif;
      text-decoration: none;
      float: top;
}

.imgtable {
      width: 128px;
      float: left;
      margin-left: 25px;
}

.table {
      height: 350px;
      width: 900px;
      border-radius: 50px;
      background: linear-gradient(145deg, #e6e6e6, #ffffff);
      box-shadow:  20px 20px 60px #d9d9d9,
               -20px -20px 60px #ffffff;
      text-align: center;
      float: left;
      margin: 25px;
      margin-left: 150px;
      transition: background-color 5s ease-out 100ms;


}
.table2 {
      height: 350px;
      width: 400px;
      border-radius: 50px;
  background: linear-gradient(145deg, #e6e6e6, #ffffff);
  box-shadow:  20px 20px 60px #d9d9d9,
               -20px -20px 60px #ffffff;
      text-align: center;
      float: right;
      margin: 25px;
      margin-left: -125px;
      transition: background-color 5s ease-out 100ms;
      margin-top: px;


}

.main {
      margin-top: 95px;
      padding: 55px;
      float: center;
}

.main a{
      color: border-left:  
      text-decoration: none;
}

.slidecontainer {
  width: 400px; 
  float: left;
  margin-bottom: 80px;
}


.slider {
  -webkit-appearance: none;  
  appearance: none;
  width: 500px; 
  height: 15px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7; 
  -webkit-transition: .2s; 
  transition: opacity .2s;

  margin-left: 30px;
  
}

.slider:hover {
  opacity: 1; 
}


.slider::-webkit-slider-thumb {
  -webkit-appearance: none; 
  appearance: none;
  width: 25px; 
  height: 25px; 
  background: #000; 
  cursor: pointer; 
}

.slider::-moz-range-thumb {
  width: 25px; 
  height: 25px; 
  background: #4CAF50; 
  cursor: pointer; 
}

.value{
     font-family: 'Oswald', sans-serif; 
}

.orderitem{
      border: none;
      background-color: #000;
      font-color: #fff;
      height: 50px;
      width: 75px;
      float: right;
}

h2{
      font-family: 'Oswald';
}